$blue-bayoux: #50637c;
$husk: #b0a943;
$fire-bush: #e48f3a;
$dull-lavender: #a9b2e7;
$alabaster: #f9f9f9;
$mine-shaft: #333;
$manhattan: #f5ab98;

$accent: $fire-bush;
$accent-dark: $husk;
$accent-light: $dull-lavender;
$dark: $blue-bayoux;
$light: $alabaster;
$black: $mine-shaft;

$text-main: $black;
$text-heading: $dark;
$text-highlight: $accent;

/* */

$lilac: #ddace7;
$yellow: #f1d492;
$mint: #a2ebca;
$blue: #80baff;
$red: #e28883;

$primary: black;
$secondary: white;
$background: gray;
