$blue-bayoux: #50637c;
$husk: #b0a943;
$fire-bush: #e48f3a;
$dull-lavender: #a9b2e7;
$alabaster: #f9f9f9;
$mine-shaft: #333;
$manhattan: #f5ab98;

$charcoal: #264653;
$persian-green: #2a9d8f;
$maize: #e9c46a;
$sandy-brown: #f4a261;
$terra-cotta: #e76f51;

$accent: $sandy-brown;
$accent-dark: $terra-cotta;
$accent-light: $maize;
$dark: $charcoal;
$light: $alabaster;
$black: $mine-shaft;

$text-main: $black;
$text-light: $light;
$text-heading: $dark;
$text-highlight: $accent;

/* */

$lilac: #ddace7;
$yellow: #f1d492;
$mint: #a2ebca;
$blue: #80baff;
$red: #e28883;

$primary: black;
$secondary: white;
$background: gray;
